<h1>
    <%-title%>
</h1>

<form id="userForm">
    <input type="hidden" name="id" id="id">
    <label for="login">Login</label>
    <input name="login" id="login" type="text"><br>
    <label for="senha">Senha</label>
    <input name="senha" id="senha" type="text"><br>
    <label for="email">Email</label>
    <input name="email" id="email" type="text"><br>
    <label for="tipo">Tipo</label>
    <input name="tipo" id="tipo" type="text">
    <button type="submit">Enviar</button>
    <button type="reset">Cancelar</button>
</form>

<span id="error"></span>

<%if(error){%>
    <span>
        <%=error%>
    </span>
    <%}%>

        <table>
            <thead>
                <tr>
                    <%for(let col of cols){%>
                        <th>
                            <%=col%>
                        </th>
                        <%}%>
                </tr>
            </thead>
            <tbody>
                <%for(let user of users){%>
                    <tr>
                        <%for(let prop in user){%>
                            <td>
                                <%=user[prop]%>
                            </td>
                            <%}%>
                                <td>
                                    <button onclick="editUser('<%=user.id%>')">Editar</button>
                                    <button>Deletar</button>
                                </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>

        <script>
            const form = document.getElementById('userForm')
            form.addEventListener("submit", (event) => {
                event.preventDefault()

                const formData = new FormData(form)
                const user = {}
                formData.forEach((value, key) => {
                    user[key] = value
                })

                console.log(user)

                fetch("/users", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify(user)
                })
                    .then((res) => { return res.json() })
                    .then((user) => { console.log('foi salvo', user) })
                    .catch((error) => { document.getElementById('error').innerText = error })
            })

            function editUser(id) {
                console.log(id)
                fetch("/users/" + id, {
                    method: "GET"
                })
                    .then(async (res) => {
                        if (!res.ok) {
                            const err = await res.json()
                            throw err
                        }
                        return res.json()
                    })
                    .then((user) => { 
                        console.log('retornou o usuário', user)
                        for (let prop in user){
                            const input = document.querySelector(`input[name="${prop}"]`);
                            input.value = user[prop]
                        }
                    })
                    .catch((error) => { document.getElementById('error').innerText = error })

            }

            function deleteUser(id) {
                console.log(id)
            }
        </script>